$tiffanyBlue: #80deea;
$paleGrey: #dde1e7;
$brownishGrey: #666666;
$white: #f1f1f1;
$coral: #ef5350;
$greenblue: #1bbc9b;
$lipstick: #e43a45;
$sunYellow: #fdd835;
$state: #3a4158;
$coolGrey: #93a2a9;
$charcoalGrey: #3b3f51;
$mediumPink: #ed6b75;
$slateGreyTwo: #54596d;
$greyishBrown: #4c4c4c;
$steel:#898b94;
$coralTwo: #f05551;
$topaz: #12bc9a;
$greyish: #b6b6b6;
$paleGreyTwo: #f3f5f8;
$greyishBrownTwo: #484848;
$tealishTwo: #26c6da;
$greyishTwo: #a4a4a4;
$coolGreyTwo: #9b9da5;
$whiteThree: #dbdbdb;